.contact-container {
  height: 60vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 20px;
}
  
  .contact-form {
    width: 600px;
    height: 500px; 
    padding: 20px;
    background-color: #f5f9fd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #805f83;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #c992ce;
  }

  .footer-contacto{
      background-color: #333; 
      color: #fff; 
      left: 0; 
      bottom: 0; 
      width: 100%; 
  }
  
@media (max-width: 768px) {
  .contact-container {
      height: auto; 
  }

  .contact-form {
      width: 100%; 
  }
}

@media (max-width: 480px) {
  .contact-container {
      height: auto; 
  }

  .contact-form {
      width: 100%; 
      padding: 10px; 
  }
  
  .form-group {
      margin-bottom: 10px; 
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
      padding: 8px; 
  }

  .contact-form h2 {
      margin-bottom: 10px;
  }

  button[type="submit"] {
      padding: 8px 16px; 
  }
}
