@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap');

.gift-boxes {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.gift-boxes h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  color: #474545;
  align-self: flex-start;
  margin-left: 40px;
  margin-top: 20px;
}

.gift-boxes-filter {
  display: flex;
  align-items: center;
}


.gift-boxes .filter-button {
  font-size: 1.2rem;
  font-family: "Montserrat", Sans-serif;
  color: #666;
  background-color: #f3f3f3;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-end;
  margin-right: 40px;
  margin-top: 100px;
}

.gift-boxes .filter-button:hover {
  background-color: #e8b1f33a;
  color: #666;
  font-size: 20px;
}

.filter-option {
  font-size: 1rem;
  color: #666;
}



.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20px;
}

.product-card {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 80px;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card img:hover {
  transform: scale(1.01);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.product-card h2 {
  font-size: 1.1rem;
  color: #333;
  margin: 10px 0;
}

.product-card p {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.product-card button {
  background-color: #b7d8fc;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.9rem;
}

.product-card button:hover {
  background-color: #c0a6da;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 380px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  overflow-y: scroll;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  font-size: 12px;
  background-color: transparent;
  border: none;
  outline: none;
}

.cart button:hover {
  background-color: rgb(186, 162, 162);
}


.cart h2 {
  font-size: 24PX;
  margin-bottom: 60px;

}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}


.cart button {
  background-color: rgb(144, 205, 247);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart .checkout-button {
  background-color: rgb(157, 166, 219);
  color: rgb(119, 91, 91);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 768px) {
  .gift-boxes {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .gift-boxes h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-left: 0;
  }

  .gift-boxes .filter-button {
    margin-top: 20px;
    margin-right: 0;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card {
    max-width: 100%;
    margin: 0 auto 20px;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .gift-boxes h2 {
    font-size: 23px;
    margin-top: 10px;
  }

  .gift-boxes-filter {
    margin-left: 200px;
  }

  .gift-boxes .filter-button {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    margin-top: 10px;

  }

  .gift-boxes .filter-button:hover {
    background-color: #e8b1f33a;
    color: #666;
    font-size: 14px;
  }

  .filter-option {
    font-size: 14px;
    color: #666;
  }


  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }
}